amurex==0.1.1
anthropic==0.19.1
deep-translator==1.10.1
email-validator==2.1.0.post1
flask==3.0.2
flask-limiter==3.5.0
flask-sqlalchemy==3.1.1
flask-wtf==1.2.1
googletrans-py==4.0.0
gtts==2.5.1
gunicorn==23.0.0
langdetect==1.0.9
openai==1.14.2
pocketsphinx==5.0.4
psycopg2-binary==2.9.9
pypinyin==0.50.0
python-telegram-bot==20.7
requests==2.31.0
SpeechRecognition==3.10.1
SQLAlchemy==2.0.28
telegram==0.0.1
translator==1.0.0